﻿@model Claims.Data.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Index";
}
<h2 class="text-center">Login</h2>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
            <form role="form" asp-action="Login" asp-controller="Login" method="post">
                <div class="form-group">
                    <label for="User Name">User Name</label>
                    <input type="text" name="User Name" asp-for="UserName" autocomplete="off" class="form-control input-sm" placeholder="Email Address">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" name="Password" asp-for="Password" autocomplete="off" class="form-control input-sm" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <input type="submit" value="Login" class="btn btn-info btn-block">
            </form>
        </div>
    </div>

</div>



