﻿@model Claims.Data.ViewModels.RegistrationViewModel
@{
    ViewData["Title"] = "Registration";
}

@*<div class="row">
        @if (TempData["validationmessage"] != null)
        {
            string alertType = "alert alert-" + TempData["alertType"];
            <div class="@alertType">
                <strong>Alert!</strong> @TempData["validationmessage"]
            </div>
        }
    </div>*@

<h2 class="text-center">Registar</h2>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form role="form" asp-action="Registar" asp-controller="Login" method="post">

                <div class="form-group">
                    <label for="Name">User Name</label>
                    <input type="text" name="UserName" asp-for="UserName" class="form-control input-sm"  placeholder="Name">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" name="Password" asp-for="Password" autocomplete="off" class="form-control input-sm" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword">Password</label>
                    <input type="password" name="ConfirmPassword" asp-for="ConfirmPassword" autocomplete="off" class="form-control input-sm" placeholder="ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="User Gender">User Gender</label>
                    <input type="text" name="UserGender" asp-for="UserGender" autocomplete="off"  class="form-control input-sm"  placeholder="User Gender">
                    <span asp-validation-for="UserGender" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="UserRole"></label>
                    <input type="text" name="UserRole" data-val="true" autocomplete="off"  asp-for="UserRole" class="form-control input-sm" placeholder="User Role">
                    <span asp-validation-for="UserRole" class="text-danger"></span>
                </div>



                <input type="submit" value="Register" class="btn btn-info btn-block">
                <input name="__RequestVerificationToken" type="hidden" value="<removed for brevity>">
            </form>
        </div>
    </div>

</div>


